*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  h1 {
    color: #0056b3;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    
  }
  button {
    background-color: yellow;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 5px;
    margin-left: 15px;
    align-items: center;

}
.btns {
    align-content: center;
    align-self:center ;

}
table {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  border-collapse: collapse;
  background-color: #F5F5DC;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  font-size: 20px;
  
}
